/* Banner 广告样式 */
.banner-container {
  position: relative;
  overflow: hidden;
  height: 300px;
}
.banner-container .banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-container .banner-link {
  display: block;
  width: 100%;
  height: 100%;
}

/* 动态类名样式（通过内联样式或类名覆盖） */
.member-banner,
.category-banner,
.tag-banner,
.post-banner {
  position: relative;
  overflow: hidden;
  height: 300px;
}
.member-banner .banner-image,
.category-banner .banner-image,
.tag-banner .banner-image,
.post-banner .banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.member-banner .banner-link,
.category-banner .banner-link,
.tag-banner .banner-link,
.post-banner .banner-link {
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 767.98px) {
  /* 移动端banner容器全宽显示 */
  .banner.full-bleed {
    margin-left: calc(-1 * (100vw - 100%) / 2);
    margin-right: calc(-1 * (100vw - 100%) / 2);
    width: 100vw;
    max-width: 100vw;
    max-height: 100px;
  }
  .banner.full-bleed .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0;
    margin-right: 0;
  }
  .banner-container,
  .member-banner,
  .category-banner,
  .tag-banner,
  .post-banner {
    height: 180px;
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    max-width: 100%;
    max-height: 100px;
  }
}

